body {
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color:  #626192;

  .container {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    section{
      display: flex;
      justify-content: center;
      width: 100vw;
      flex: none;
      scroll-snap-align: start;

    .container-contact-section {
      display:flex;
      flex-direction: column;

      .container-contact-heading {
        justify-content: center;
        font-size: 50px;
        margin-left: 10px;
        margin-top: 10px;
        color:   #626192;
      }
    }
      
    .container-headings {
      background:  #626192;
      
      .section-heading {
        justify-content: left;
        font-size: 50px;
        margin-left: 10px;
        color:   #A1B1D0;
      }

      .heading-underline {
        height: 5px;
        width: 100vw;
        background-color: #A1B1D0;
      }

      .section-subheading {
        color: #fff;
        font-size: 24px;
        letter-spacing: 4px;
        font-family: sans-serif;
        margin-top: 2vw;
        margin-left: 30px;
      }
    }

    .container-section-content {
      display:flex;
      align-items:center;
      justify-content: space-evenly;
      color: #15315A;
      margin-top: 30px;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 800px) {
          flex-direction: column-reverse;
      }

      .left-to-bottom {
        background-color:  #626192;
        color: white;
        width: 400px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1.6em;
        .bold{
          font-weight: bold;
        }
        > div {
          background-color:  #626192;
          padding-left:24px;
          }
      }

      .right-to-top {
        background-color:  #626192;
        width: 400px;
        height: 250px;
        display: flex;
        align-items: center;
        .confidential-box {
          width:400px;
          height:250px;
          background-color:#15315A;;
          text-align: center;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .container-links{
          width:400px;
          height:250px;
          background-color: #626192;
          text-align: center;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          line-height: 2.5em;
          > a {
            color:  #A1B1D0;
            text-decoration: none;
            font-size: 1.5em;
            &:hover {
              color: white;
            }
          }

        }
        > div > img {
          max-width: 400px;
        }
      }
    }
    
    .container-skills{
      display:flex;
      align-items:center;
      flex-direction:column;
      justify-content: space-evenly;
      color: white;
      margin-top: 30px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      .container-skills-icons {
        display: flex;
        flex-direction:row;
        flex-flow: wrap;
        align-items: center;
        width: 600px;
        justify-content: space-evenly;
        @media (max-width: 800px) {
          max-width: 190px;
          justify-content: space-evenly;
       
        }
        .skill-icon{
          display:flex;
          flex-direction: column;
          text-align: center;
          height:85px;
          width: 50px;
          margin-left: 5px;
          margin-right: 5px;
          justify-content: space-between;
          @media (max-width: 800px) {
            margin-top: 20px;
          }
          
        }
      }

    }

// LANDING PAGE

      &:nth-of-type(1) {
        height: 100vh;
        min-height: 700px;
        @media (max-width: 700px) {
          min-height: 800px;
        }

        h1 {
          color: #15315A;
          font-size: 100px;
          margin-top: 10vw;
          margin-bottom: 0;
          font: 'Coolvetica';
          font-weight: 700;
          @media (max-width: 700px) {
            text-align: center;
            margin-left: 0;
          } 
        
  
         
          &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color:  #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -18px;
            opacity:0.6;
            animation: fadeIn 1s 1.7s backwards;
          }
  
          &::after {
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 72px;
            margin-left: 14px;
            opacity:0.6;
            animation: fadeIn 1s 1.7s backwards;
          }
        }

        h2 {
          color: #fff;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 4px;
          font-family: sans-serif;
          margin-left: 55%;
          margin-bottom: 100px;
          min-width: 280px;
          @media (max-width: 700px) {
            text-align: center;
            margin-left: 0;
          }
  
        }

        .centered {
          margin-top: 100px;
          @media (max-width: 700px) {
            text-align: center;
          } 
        }
  
        .intro-bio {
          color: #A1B1D0;
          text-align: center;
          font-weight: 400;
          font-size: 11px;
          font-family: sans-serif;
          letter-spacing: 3px;
          animation: fadeIin 1s 1.8s backwards;
          margin-left: 55%;
          margin-top: 60px;
          line-height: 1.6em;
          .bold{
            font-weight: bold;
            color: white;
          }
          @media (max-width: 700px) {
            text-align: center;
            margin-left: 0;
          } 
        }

        .flat-button {
          color: #ffd700;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 4px;
          font-family: sans-serif;
          text-decoration: none;
          padding: 10px 18px;
          border: 1px solid #ffd700;
          margin-top: 20px;
          animation: fadeIn1s 1.8s backwards;
          white-space: nowrap;
          margin-left: 64%;
          @media (max-width: 700px) {
            margin-left: auto;
            margin-right: auto;
          } 

          &:hover {
              background:#ffd700;
              color: #333
          }
        }
        
      }

// PROFESSIONAL

      &:nth-of-type(2) {
        height: 100vh;
        background-color: hsl(241, 20%, 48%);
        color:   #A1B1D0;
        min-height: 1000px;
        @media (max-width: 700px) {
          min-height: 1300px;
        }
     
      }

// PERSONAL

      &:nth-of-type(3) {
        background-color:  #626192;
        min-height: 1000px;
        @media (max-width: 700px) {
          min-height: 800px;
        }
      }

// Bona Fides

      &:nth-of-type(4) {
        background-color: #626192;
        height: 100vh;
        min-height: 1000px;

        @media (max-width: 700px) {
          min-height: 1200px;
        }
      }

// Contact

      &:nth-of-type(5) {
        background-color:  #A1B1D0;
        color: #626192;

        height: 100vh;
        @media (max-width: 700px) {
          min-height: 800px;
        }
        
      }
    }
  }
}